.homeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: 5rem;
}
.cardContainer {
  /* border: 1px solid red; */
  width: 11.25rem;
  height: 14.06rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  padding: 0.626rem;
}
.countContainer {
  position: relative;
  top: -23px;
  left: 97px;
  display: flex;
  /* border: 1px solid blue; */
  border-radius: 50%;
  height: 1.875rem;
  width: 1.875rem;
  background-color: #625df5;
}

.count {
  position: absolute;
  color: white;
  font-size: 1.125rem;
  top: 0.125rem;
  right: 0.3125rem;
}

.imageContainer {
  border: 1px solid black;
  border-radius: 50%;
  width: 7.8125rem;
  height: 7.8125rem;
  background-color: white;
}

.userId {
  font-size: 1.125rem;
  font-weight: 600;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  height: 3.75rem;
  background: lightgrey;
}
.navLogo {
  width: 3.125rem;
  height: 3.125rem;
}
.search {
  height: 1.5rem;
}
.listContainer {
}
.backButton {
}
